

<script src="~/js/Documentacion.js"></script>


@using ControlDeAvances.Helpers;
@{

    List<Fase> f = new List<Fase>();

    var c = new Context();
    var context = c.DbContext();
    f = context.Fases.ToList();

}


<div class="d-flex justify-content-center mt-5">
    <label>Fase</label>
    <select id="CmbFase" class="form-control col-2">

        <option class="nav-link" value="0"> --SELECCIONE-- </option>


        @foreach (var item in f)
        {
            <option class="nav-link" value="@item.Id"> @item.Nombre </option>
        }

    </select>
</div>


<h3 class="text-center">Avance</h3>
<div class="row text-center">
    <div class="col-md-8 ml-auto mr-auto">
        <img src="~/img/descarga (10).png" class="img-fluid" style="width: 25%;" />
    </div>
</div>

<div class="w-50 ml-auto mr-auto">

    <div id="container ">

        <div class="container-fluid ml-4">

            <div id="carousel-example" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner row mx-auto mt-3 pr-5 pl-5" role="listbox" id="carousel-inner">


                </div>


                <div class="mr-5">
                    <a class="carousel-control-prev mr-5" href="#carousel-example" role="button" data-slide="prev" style="width:30px;">
                        <span aria-hidden="true"><img src="~/img/carrusel/menor.png" class="img-fluid" /></span>
                    </a>
                </div>

                <div class="ml-5">
                    <a class="carousel-control-next ml-5" href="#carousel-example" role="button" data-slide="next" style="width:30px;">
                        <span aria-hidden="true"><img src="~/img/carrusel/mayor.png" class="img-fluid" /></span>
                    </a>
                </div>

            </div>

        </div>
    </div>

</div>


<div class="row">
    <div class="col-md-8 ml-auto mr-auto">
        <button class="btn btn-info text-center w-100 mt-2">COMENTARIOS</button>
        <button class="btn btn-info text-center w-100 mt-2">NOMBRE DE LA PERSONA QUE ASIGNA EL COMENTARIO</button>
    </div>
</div>

